﻿<div class="col-md-12" ng-controller="DownloadPriceListDetailsController as downloadPriceListDetails">
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default boxShadow">
                <div class="panel-heading">Download Price List: <B> {{downloadPriceListDetails.priceList.listName}} </B></div>
                <div class="panel-body">

                    <section> 
                        <dl>  
                            <dt>Sender:</dt>
                            <dd>{{downloadPriceListDetails.priceList.sender}}</dd>
                            <dt>Status:</dt>
                            <dd><span ng-class="{'glyphicon glyphicon-ok' : downloadPriceListDetails.priceList.status === 'Approved',
                                      'glyphicon glyphicon-remove' : downloadPriceListDetails.priceList.status === 'Declined',
                                      'glyphicon glyphicon-wrench' : downloadPriceListDetails.priceList.status === 'Update',
                                      'glyphicon glyphicon-paperclip' : downloadPriceListDetails.priceList.status === 'Draft'}" aria-hidden="true"></span> {{downloadPriceListDetails.priceList.status}}</dd>
 
                            <dt>Subject:</dt>
                            <dd>{{downloadPriceListDetails.priceList.listName}}</dd>
                            <dt>Price List Type:</dt>
                            <dd>{{downloadPriceListDetails.priceList.priceListType}}</dd>
                            <dt>File Name:</dt>
                            <dd><a ng-href="{{ downloadPriceListDetails.priceList.url }}" download="{{downloadPriceListDetails.priceList.fileName}}">{{downloadPriceListDetails.priceList.fileName}}</a></dd>
                            <dt>Start Date:</dt>
                            <dd>{{downloadPriceListDetails.priceList.startDate | date:'dd.MM.yyyy' }}</dd>
                            <dt>End Date:</dt>
                            <dd>{{downloadPriceListDetails.priceList.endDate | date:'dd.MM.yyyy' }}</dd>
                        </dl>
                    </section>
                    <button type="submit"  class="btn btn-success" ng-click="downloadPriceListDetails.setStatusToApprove(downloadPriceListDetails.priceList.id)">{{ 'Approve' | translate }}</button>
                    <button type="submit"  class="btn btn-danger"  ng-click="downloadPriceListDetails.setStatusToDecline(downloadPriceListDetails.priceList.id)">{{ 'Decline' | translate }}</button>
                    <button type="submit"  class="btn btn-warning"  ng-click="downloadPriceListDetails.setStatusToFix(downloadPriceListDetails.priceList.id)">{{ 'Update' | translate }}</button>
                    <button type="submit" ng-click="downloadPriceListDetails.goToDataPort()" class="btn btn-default">{{ 'Cancel' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id="excelGrid" ui-grid="downloadPriceListDetails.gridOptions" class="grid"></div>
        </div>
    </div>

</div>