﻿<div class="container" ng-controller="DataPortController">
    <div class="row">

        <ul class="nav nav-tabs" ng-init="tab = 1">
            <li role="presentation" ng-class="{active:tab===1}"><a href ng-click="tab = 1">{{ 'Files' | translate }}</a></li>
            <li role="presentation" ng-class="{active:tab===2}"><a href ng-click="tab = 2 ">{{ 'DataUploadForm' | translate }}</a></li>
            <li role="presentation" ng-class="{active:tab===3}"><a href ng-click="tab = 3">{{ 'SendPriceListForm' | translate }}</a></li>
        </ul>

        <br />

        <div ng-show="tab === 1">
            <div ng-include src="'app/downloadPriceListPartial/downloadPriceListPartial.html'"></div>
        </div>
            <div ng-show="tab === 2" class="col-md-4" upload-Data-Partial-Directive>
        </div>
        <div ng-show="tab === 3">
            <div class="col-md-4">
                <div ng-include src="'app/sendPriceListPartial/sendPriceListPartial.html'"></div>
            </div>
        </div>
    </div>
</div>
