﻿<div class="col-md-12" ng-controller="DownloadPriceListPartialController as downloadPriceListPartial">
    <div class="row">
        <table ng-table="downloadPriceListPartial.tableParams" show-filter="true" class="table table-condensed table-bordered table-striped boxShadow">
            <tr ng-repeat="priceList in  $data"  >
               
                <td data-title="'Download'" >
                    <input type="checkbox" name="selected" ng-checked="downloadPriceListPartial.isSelected()"  />
                </td> 
                 <td data-title="'Status'" ng-click="downloadPriceListPartial.selectRow(priceList)" sortable="'status'" filter="{ status : 'select'}" filter-data="downloadPriceListPartial.priceListStatuses">
                    <span ng-class="{'glyphicon glyphicon-ok' : priceList.status === 'Approved',
                                      'glyphicon glyphicon-remove' : priceList.status === 'Declined',
                                      'glyphicon glyphicon-wrench' : priceList.status === 'Update',
                                      'glyphicon glyphicon-paperclip' : priceList.status === 'Draft'}" aria-hidden="true"></span> {{priceList.status}}
                </td>
 
                <td data-title="'Sender'" ng-click="downloadPriceListPartial.selectRow(priceList)" sortable="'sender'" filter="{ 'sender': 'text' }">
                    {{priceList.sender}}
                </td>
                <td data-title="'List Name'" ng-click="downloadPriceListPartial.selectRow(priceList)"  sortable="'listName'" filter="{ 'listName': 'text' }">
                    {{priceList.listName}}
                </td>
                <td data-title="'Price List Type'" ng-click="downloadPriceListPartial.selectRow(priceList)"  sortable="'priceListType'" filter="{ 'priceListType': 'text' }">
                    {{priceList.priceListType}}
                </td>
                <td data-title="'File Name'" ng-click="downloadPriceListPartial.selectRow(priceList)"  sortable="'fileName'" filter="{ 'fileName': 'text' }">
                    {{priceList.fileName}}
                </td>
                <td data-title="'Start Date'"  ng-click="downloadPriceListPartial.selectRow(priceList)" sortable="'startDate'">
                    {{priceList.startDate | date:'dd.MM.yyyy'}}
                </td>
                <td data-title="'End Date'" ng-click="downloadPriceListPartial.selectRow(priceList)"  sortable="'endDate'">
                    {{priceList.endDate | date:'dd.MM.yyyy'}}
                </td>
            </tr>
        </table>

        <br> 
        <button type="submit"  class="btn btn-success">Download</button>
    </div>
</div>