﻿<div class="container boxShadow" ng-controller="UploadController">
    <div class="row">
        <div class="col-md-5">
            <form class="form-horizontal" name="supplierForm" ng-submit="save(supplierForm, supplier)" role="form" novalidate>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Buyer's Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" ng-model="supplier.name" required>
                    </div>
                </div>

              <div class="form-group">
                    <label for="postcode" class="col-sm-2 control-label">Valid Until</label>
                    <div class="col-sm-10">
                        <input type="datetime" class="form-control" id="postcode" name="postcode" placeholder="Valid Until"
                               ng-model="supplier.postCode" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success"> Upload Excel </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-7">

            <div ng-controller="UploadExcelController">
                <button type="button" class="btn btn-success" ng-click="reset()">Reset Grid</button>
                <br/>
                <br/>
                <div id="grid1" ui-grid="gridOptions" class="grid">
                    <div class="grid-msg-overlay" ng-show="!gridOptions.data.length">
                        <div class="msg">
                            <div class="center">
                                <span class="muted">Select Spreadsheet File</span>
                                <br/>
                                <input type="file" accept=".xls,.xlsx,.ods" fileread="" opts="gridOptions" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--http://brianhann.com/easily-import-spreadsheets-into-ui-grid/-->
