﻿<div  class="container"  ng-controller="FilesController as vm" >
    <div class="row">
        <div class="col-md-12">
            <h3>{{vm.title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <ul class="list-group">
                <li class="list-group-item disabled">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10">name</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">size (kb)</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">created on</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">modified on</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                    </div>
                </li>
              
                <li ng-repeat="file in vm.files.files" class="list-group-item" >
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10 wraptext">{{file.Name}}</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{file.Size}}</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{file.Created | date: short}}</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{file.Modified | date: short}}</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                            <button type="button" class="btn btn-xs btn-danger"  >
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
          
        </div>        
         
    </div>
  
</div>