﻿<div class="panel panel-default boxShadow" ng-controller="SendFilePartialController as sendFile" >
    <div class="panel-heading">
        <B>{{ 'SendFileForm' | translate }}</B>
    </div>
    <div class="panel-body">

        <form id="dataPostForm" name="dataPostForm" role="form" ng-submit="sendFile.saveDataPost(dataPostForm, dataPost)" novalidate>
              
            <!--BUYER-->
            <div class="form-group">
                <label for="dataUploadReceiver" class="control-label required">
                    {{ 'DataPostReceiver' | translate }}
                </label>
                <div class="input-group">
                    <input type="hidden" name="dataUploadReceiverValue" class="form-control" ng-model="dataPostForm.buyer" />
                    <div class="btn-group dropdown ">
                        <button type="button" id="receiver" name="dataUploadReceiver" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!loggedIn">
                            {{selectedBuyer.buyer.Email}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="buyer in buyers">
                                <a ng-click="dataPostForm.buyer = buyer.Email; selectedBuyer.buyer = buyer">{{buyer.Email}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>  

            <div class="form-group" ng-class="{'has-error': dataPostFieldHasError(dataPostForm.subject)}">
                <label for="subject">{{ 'DataPostSubject' | translate }}</label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="{{ 'DataPostSubject' | translate }}" ng-model="dataPost.subject" maxlength="100" ng-maxlength="100" ng-required="true" ng-disabled="!loggedIn">
                <p ng-show="sendFile.dataPostFieldHasError(dataPostForm.subject) && dataPostForm.subject.$error.required " class="help-block">{{ 'DataPostSubjectError' | translate }}</p>
            </div>

            <div class="form-group" ng-class="{'has-error': dataPostFieldHasError(dataPostForm.message)}">
                <label for="message">{{ 'DataPostMessage' | translate }}</label>
                ​<textarea id="message" class="form-control" placeholder="{{ 'DataPostMessage' | translate }}" ng-model="dataPost.message" name="message" rows="8" cols="50" ng-required="true" ng-disabled="!loggedIn"></textarea>

                <!--<input type="text" class="form-control" id="message" name="message" placeholder="{{ 'DataPostMessage' | translate }}" ng-model="dataPost.message" maxlength="100" ng-maxlength="100" ng-required="true" ng-disabled="!loggedIn">-->
                <p ng-show="sendFile.dataPostFieldHasError(dataPostForm.message) && dataPostForm.message.$error.required " class="help-block">{{ 'DataPostMessageError' | translate }}</p>
            </div>

            <div class="form-group" flow-init="{target: 'http://localhost:49738/folders/uploads/uploadsFolder'}" flow-name="sendFile.uploader.flow" flow-file-success="sendFile.fileSuccess($file,$message)">>
                <div class="form-group">
                    <div class="fileinput fileinput-new" data-provides="fileinput" ng-disabled="!loggedIn">

                            <!--<button flow-btn>Add files</button>-->
                            <span class="btn btn-default btn-file" flow-btn><span>{{ 'FileInput' | translate }}</span></span>    

                            <!--<button ng-click="uploadFlow()">Upload</button>-->


                            <table>
                                <tbody ng-repeat="file in sendFile.uploader.flow.files">
                                    <tr><td>{{file.name}}: </td></tr>
                                    <tr><td>{{sendFile.uploader.flow.getSize()}}: </td></tr> 
                                    <tr> 
                                        <td>
                                            <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                                     aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}">
                                                </div>
                                                <span class="sr-only ng-binding">1% Complete</span>
                                            </div>
                                        </td>
                                    </tr> 
                                </tbody> 
                            </table> 

                   </div>

                        <!--<div class="fileinput fileinput-new" data-provides="fileinput" ng-disabled="!loggedIn">
                            <span class="btn btn-default btn-file" ng-disabled="!loggedIn"><span>{{ 'FileInput' | translate }}</span><input type="file" ng-file-model="dataPost.file" ng-disabled="!loggedIn" /></span>
                            <span class="fileinput-filename"></span><span class="fileinput-new">{{ 'FileInputInfo' | translate }}</span>
                        </div>-->


   
                    </div>
                <button type="submit" class="btn btn-success" >  <!--  ng-click="uploadFlow()" ng-disabled="dataPostForm.$invalid"--> {{ 'DataPostSend' | translate }} </button>
            </div>

           
        </form>
    </div>
</div>