﻿<div class="panel panel-default boxShadow" ng-controller="UploadDataPartialController">
    <div class="panel-heading">
        <B>{{ 'DataUploadForm' | translate }}</B>
    </div>
    <div class="panel-body">
        <form id="dataUploaderForm" name="dataUploaderForm" role="form" ng-submit="saveDataUploader(dataUploaderForm, dataUploader)" novalidate>

            <!--BUYER-->
            <div class="form-group">
                <label for="dataUploadReceiver" class="control-label required">
                    {{ 'DataPostReceiver' | translate }}
                </label>
                <div class="input-group">
                    <input type="hidden" name="dataUploadReceiverValue" class="form-control" ng-model="dataUploader.buyer" />
                    <div class="btn-group dropdown ">
                        <button type="button" id="dataUploadReceiver" name="dataUploadReceiver" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!loggedIn" >
                            {{selectedBuyer.buyer.Email}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="buyer in buyers">
                                <a ng-click="dataUploader.buyer = buyer.Email; selectedBuyer.buyer = buyer">{{buyer.Email}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 
 
            <!--DATA TYPE-->
            <div class="form-group">
                <label for="receiver" class="control-label required">
                    {{ 'DataUploadeDataType' | translate }}
                </label>
                <div class="input-group">
                    <input type="hidden" name="priceListTypeValue" class="form-control" ng-model="dataUploader.dataType" />
                    <div class="btn-group dropdown ">
                        <button type="button" id="dataType" name="dataType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!loggedIn" >
                            {{selectedDataType.dataType.Type}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="dataType in dataTypes">
                                <a ng-click="dataUploader.dataType = dataType.Type; selectedDataType.dataType = dataType">{{dataType.Type}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Bug - dropdown must be clicked AND then sends value - MORE TESTING!! works with selected index 3?--> 

            <!--PRICE LIST TYPE-->
            <div class="form-group">
                <label for="receiver" class="control-label required">
                    {{ 'DataUploadePriceListType' | translate }}
                </label>
                <div class="input-group">
                    <input type="hidden" name="priceListTypeValue" class="form-control" ng-model="dataUploader.priceListTypes" />
                    <div class="btn-group dropdown ">
                        <button type="button" id="priceListType" name="priceListType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!loggedIn" >
                            {{selectedPriceListType.priceListType.Type}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="priceListType in priceListTypes">
                                <a ng-click="dataUploader.priceListType = priceListType.Type; selectedPriceListType.priceListType = priceListType">{{priceListType.Type}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Bug - dropdown must be clicked AND then sends value - MORE TESTING!! works with selected index 3?-->
             

            <!--STARTDATE-->
            <div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.startDate)}">
                <label for="startDate" class="control-label">{{ 'DataUploaderStartDate' | translate }}</label>
                <div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="startDate_dropDownButton" role="button" data-toggle="dropdown" data-target="#" ng-disabled="!loggedIn" >
                            <div class="input-group">
                                <input id="startDate" name="startDate" type="text" class="form-control" placeholder="{{ 'DataUploaderStartDatePlaceholder' | translate }}"
                                       bo-date-input="date" ng-model="dataUploader.startDate" required ng-disabled="!loggedIn"  />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker id="dtpStartDate" ng-model="dataUploader.startDate" data-datetimepicker-config="{ dropdownSelector: '#startDate_dropDownButton',startView:'day', minView:'day' }" ng-disabled="!loggedIn" />
                        </ul>
                    </div>
                    <p ng-show="dataUploaderFieldHasError(dataUploaderForm.startDate) && dataUploaderForm.startDate.$error.required" class="help-block">The start date is required.</p>
                </div>
            </div>

            <!--ENDDATE-->
            <div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.endDate)}">
                <label for="endDate" class="control-label">{{ 'DataUploaderEndDate' | translate }}</label>
                <div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="endDate_dropDownButton" role="button" data-toggle="dropdown" data-target="#" ng-disabled="!loggedIn" >
                            <div class="input-group">
                                <input id="endDate" name="endDate" type="text" class="form-control" placeholder="{{ 'DataUploaderEndDatePlaceholder' | translate }}"
                                       bo-date-input="date" ng-model="dataUploader.endDate" required  ng-disabled="!loggedIn" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker id="dtpEndDate" ng-model="dataUploader.endDate" data-datetimepicker-config="{ dropdownSelector: '#endDate_dropDownButton', startView:'day', minView:'day' }" ng-disabled="!loggedIn" />
                        </ul>
                    </div>
                    <p ng-show="dataUploaderFieldHasError(dataUploaderForm.endDate) && dataUploaderForm.endDate.$error.required" class="help-block">The end date is required.</p>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.listName)}">
                <label for="listName">{{ 'DataPostSubject' | translate }}</label>
                <input type="text" class="form-control" id="listName" name="listName" placeholder="{{ 'DataPostSubject' | translate }}" ng-model="dataUploader.listName" maxlength="100" ng-maxlength="100" ng-required="true" ng-disabled="!loggedIn" >
                <p ng-show="dataUploaderFieldHasError(dataUploaderForm.listName) && dataUploaderForm.listName.$error.required " class="help-block">{{ 'DataUploaderListNameError' | translate }}</p>
            </div>

            <div class="form-group">
                <div class="fileinput fileinput-new" data-provides="fileinput" ng-disabled="!loggedIn">
                    <span class="btn btn-default btn-file" ng-disabled="!loggedIn" ><span>{{ 'FileInput' | translate }}</span><input type="file" ng-disabled="!loggedIn" ng-file-model="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /></span>
                    <span class="fileinput-filename"></span><span class="fileinput-new">{{ 'FileInputInfo' | translate }}</span>
                </div>
            </div> 

            <button type="submit" ng-disabled="dataUploaderForm.$invalid" ng-click="submit()" class="btn btn-success">{{ 'UploadData' | translate }}</button>


           
            
        </form>



    </div>
</div>

