﻿<div class="panel panel-default boxShadow" ng-controller="SendPriceListPartialController">
    <div class="panel-heading">
        <B>{{ 'SendPriceListForm' | translate }}</B>
    </div>
    <div class="panel-body">
        <form id="dataUploaderForm" name="dataUploaderForm" role="form" ng-submit="saveDataUploader(dataUploaderForm, dataUploader)" novalidate>

            <!--RECEIVER-->
            <div class="form-group">
                <label for="dataUploadReceiver" class="control-label required">
                    {{ 'DataPostReceiver' | translate }}
                </label>
                <div class="input-group">
                    <input type="hidden" name="dataUploadReceiverValue" class="form-control" ng-model="dataUploader.dataUploadReceiver" />
                    <div class="btn-group dropdown ">
                        <button type="button" id="dataUploadReceiver" name="dataUploadReceiver" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
                            {{selectedDataUploadReceiver.dataUploadReceiver.name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="dataUploadReceiver in dataUploadReceivers">
                                <a ng-click="dataUploader.dataUploadReceiver = dataUploadReceiver.name; selectedDataUploadReceiver.dataUploadReceiver = dataUploadReceiver">{{dataUploadReceiver.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Bug - dropdown must be clicked AND then sends value - MORE TESTING!! works with selected index 3?-->
            <!--SENDER-->
            <!--<div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.sender1)}">
                <label for="sender">{{ 'DataPostSender' | translate }}</label>
                <input type="text" class="form-control" id="sender1" name="sender1" placeholder="{{ 'DataPostSender' | translate }}" ng-model="dataUploader.sender1" maxlength="100" ng-maxlength="100" ng-required="true"  >
                <p ng-show="dataUploaderFieldHasError(dataUploaderForm.sender1) && dataUploaderForm.sender1.$error.required " class="help-block">{{ 'DataPostSenderError' | translate }}</p>
            </div>-->

            <!--PRICE LIST TYPE-->
            <div class="form-group">
                <label for="receiver" class="control-label required">
                    {{ 'DataUploadeDataType' | translate }}
                </label>
                <div class="input-group">
                    <input type="hidden" name="priceListTypeValue" class="form-control" ng-model="dataUploader.priceListType" />
                    <div class="btn-group dropdown ">
                        <button type="button" id="priceListType" name="priceListType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
                            {{selectedPriceListType.priceListType.name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="priceListType in priceListTypes">
                                <a ng-click="dataUploader.priceListType = priceListType.name; selectedPriceListType.priceListType = priceListType">{{priceListType.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Bug - dropdown must be clicked AND then sends value - MORE TESTING!! works with selected index 3?-->
            <!--STARTDATE-->
            <div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.startDate)}">
                <label for="startDate" class="control-label">{{ 'DataUploaderStartDate' | translate }}</label>
                <div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="startDate_dropDownButton" role="button" data-toggle="dropdown" data-target="#"  >
                            <div class="input-group">
                                <input id="startDate" name="startDate" type="text" class="form-control" placeholder="{{ 'DataUploaderStartDatePlaceholder' | translate }}"
                                       bo-date-input="date" ng-model="dataUploader.startDate" required   />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker id="dtpStartDate" ng-model="dataUploader.startDate" data-datetimepicker-config="{ dropdownSelector: '#startDate_dropDownButton',startView:'day', minView:'day' }"  />
                        </ul>
                    </div>
                    <p ng-show="dataUploaderFieldHasError(dataUploaderForm.startDate) && dataUploaderForm.startDate.$error.required" class="help-block">The start date is required.</p>
                </div>
            </div>

            <!--ENDDATE-->
            <div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.endDate)}">
                <label for="endDate" class="control-label">{{ 'DataUploaderEndDate' | translate }}</label>
                <div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="endDate_dropDownButton" role="button" data-toggle="dropdown" data-target="#"  >
                            <div class="input-group">
                                <input id="endDate" name="endDate" type="text" class="form-control" placeholder="{{ 'DataUploaderEndDatePlaceholder' | translate }}"
                                       bo-date-input="date" ng-model="dataUploader.endDate" required   />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker id="dtpEndDate" ng-model="dataUploader.endDate" data-datetimepicker-config="{ dropdownSelector: '#endDate_dropDownButton', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                    <p ng-show="dataUploaderFieldHasError(dataUploaderForm.endDate) && dataUploaderForm.endDate.$error.required" class="help-block">The end date is required.</p>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.listName)}">
                <label for="listName">{{ 'DataPostMessage' | translate }}</label>
                <input type="text" class="form-control" id="listName" name="listName" placeholder="{{ 'DataUploaderListName' | translate }}" ng-model="dataUploader.listName" maxlength="100" ng-maxlength="100" ng-required="true"  >
                <p ng-show="dataUploaderFieldHasError(dataUploaderForm.listName) && dataUploaderForm.listName.$error.required " class="help-block">{{ 'DataUploaderListNameError' | translate }}</p>
            </div>

            <div class="form-group">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file"  ><span>{{ 'FileInput' | translate }}</span><input type="file" ng-file-model="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /></span>
                    <span class="fileinput-filename"></span><span class="fileinput-new">{{ 'FileInputInfo' | translate }}</span>
                </div>
            </div>


            <button type="submit" ng-disabled="dataUploaderForm.$invalid" ng-click="submit()" class="btn btn-success">{{ 'UploadData' | translate }}</button>
        </form>
    </div>
</div>