﻿  <footer class="row-footer" ng-controller="FooterController as footer" >
      <div class="container" ng-show="footer.isVisible()">
          <div class="row">

              <div class="col-xs-12 col-sm-4 ">
                  <div class="nav navbar-nav" style="padding: 40px 10px;">
                      <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                      <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                      <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                      <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                      <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                      <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                  </div>
              </div>
          </div>
      </div>

      <div class="container-fluid">
          <div class="col-sm-offset-3 col-sm-6">
              <div class="panel panel-default" ng-show="alerts.length > 0">
                  <div class="panel-heading">
                      <h3 class="panel-title"><a id="alertsPanel"></a>Alerts: </h3>
                  </div>
                  <div class="panel-body">
                      <div ng-repeat="alert in alerts" class="alert alert-dismissable" ng-class="{'alert-success': alert.type == 'success', 'alert-info': alert.type == 'info', 'alert-danger': alert.type == 'error'}">
                          <button type="button" class="close" aria-hidden="true" ng-click="closeAlert($index)">&times;</button>
                          <p><strong>Message:</strong>&nbsp;{{alert.msg}}</p>
                          <div ng-show="alert.data">
                              <a ng-click="alert.showData = !alert.showData" class="alert-link">Show/Hide alert data</a>
                              <pre ng-show="alert.showData">{{alert.data}}</pre>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
