﻿<div class="container" ng-controller="HomeController">
    
    <!--<div class="row">
        <div class="col-md-8">
            <div class="panel panel-default boxShadow">
                <div class="panel-heading">Flow Implementation</div>
                <div class="panel-body">

                    <div flow-init="{target: 'http://localhost:49738/folders/uploads/uploadsFolder'}" flow-name="uploader.flow">

                        <button flow-btn>Add files</button>
                        <button ng-click="uploadFlow()">Upload</button>


                        <table>
                            <tr ng-repeat="file in uploader.flow.files">
                                <td>{{file.name}}: </td>
                                <td><b>Size: {{file.size / 1024}} </b>Kb</td>
                            </tr>
                        </table>
                    </div>


                    <div class="progress"  ng-show="uploader.flow.isUploading()"> 
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            <span class="sr-only">Uploading..</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>-->
    
    <div class="row">

        <!--SEND FILE PARTIAL-->
        <div class="col-md-4" send-File-Partial-Directive></div>

        <!--UPLOAD DATA PARTIAL-->
        <div class="col-md-4"  upload-Data-Partial-Directive></div>

        <div class="col-md-4">
            <div class="panel panel-default boxShadow" ng-show="!loggedIn">
                <div class="panel-heading">
                    <B>{{ 'LoginPanelHeading' | translate }}</B>
                </div>
                <div class="panel-body">

                    <form id="loginForm" name="loginForm" role="form" ng-submit="saveLogin(loginForm, login)" novalidate>

                        <div class="form-group" ng-class="{'has-error': loginFieldHasError(loginForm.inputEmail)}">
                            <label for="inputEmail">{{ 'LoginInputEmail' | translate }}</label>
                            <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="{{ 'LoginInputEmail' | translate }}" ng-model="login.inputEmail" maxlength="100" ng-maxlength="100" ng-required="true">
                            <p ng-show="loginFieldHasError(loginForm.inputEmail) && loginForm.inputEmail.$error.required " class="help-block">{{ 'LoginInputEmailError' | translate }}</p>
                        </div>

                        <div class="form-group" ng-class="{'has-error': loginFieldHasError(loginForm.inputPassword)}">
                            <label for="inputPassword">{{ 'LoginInputPassword' | translate }}</label>
                            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="{{ 'LoginInputPassword' | translate }}" ng-model="login.inputPassword" ng-required="true">
                            <p ng-show="loginFieldHasError(loginForm.inputPassword) && loginForm.inputPassword.$error.required " class="help-block">{{ 'LoginInputPasswordError' | translate }}</p>
                        </div>

                        <div class="form-group">
                            <div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">{{ 'LoginRememberMe' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success">{{ 'LoginLogMeIn' | translate }}</button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>


            <div class="panel panel-default boxShadow" ng-show="loggedIn">
                <div class="panel-heading">
                    
                    
                     <B>{{ 'LoginWelcome' | translate }}: {{loggedInUser}}</B>
                </div>
                <div class="panel-body">
                     {{ 'UserNameWelcome' | translate }}: {{loggedInUser}} 

                </div>
            </div>


            <button type="submit" ng-click="goToDownloads() " ng-disabled="!loggedIn" class="btn btn-danger">DATAPORT OVERVIEW</button>

            <!--<div id="grid1" ui-grid="gridOptions" class="grid"></div>-->
            <!--<a ng-href="{{ fileUrl }}" download="{{fileName}}">DOWNLOAD EXCEL</a>-->
        </div>


    </div> 

  

</div>


